/* app css stylesheet */
h1 {
  text-align: center;
}
body {
  padding-top: 20px;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.hiPriority{
  font-weight: bold;
  font-size: large;
  color: red;
}